<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586065665.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <p>Hardanger, Norway</p>
        </div>
      </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586065665.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <div class="precio">
            $1500.99
          </div>
          <div class="div-detalle">
            detalle corto del articulo
          </div>
          <div class="row mx-md-n5">
            <div class="col px-md-5"><div class="border bg-light">MAS INFO</div></div>
            <div class="col px-md-5"><div class="border bg-light">COMPRAR</div></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586065665.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <p>Hardanger, Norway</p>
        </div>
      </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586065665.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <p>Hardanger, Norway</p>
        </div>
      </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586065665.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <p>Hardanger, Norway</p>
        </div>
      </div>
    </div>
  </ng-template>   
</owl-carousel-o>
<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586065665.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <p>Hardanger, Norway</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586073127.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <p>Hardanger, Norway</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586069835.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <p>Hardanger, Norway</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div style="padding: 10px;">
      <div class="polaroid position-relative p-3" style="border-radius: 5px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
        <img src="https://storage.googleapis.com/sunnetimagenesbucket/1627586110761.jpg" alt="Norway"
          style="width:100%">
        <div class="container">
          <p>Hardanger, Norway</p>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o> -->
<!-- <div class="conteiner" style="box-shadow: 5px 5px grey;">
      <div class="position-relative style" style="width: 150px; height: 250px;">
        <div class="ribbon-wrapper">
          <div class="ribbon bg-primary">
            Oferta
          </div>
        </div>
          <div class="contenedor-imagen">
              <div class="div-imagen mx-auto">
                  <img class="img-fluid" src="https://storage.googleapis.com/sunnetimagenesbucket/1627586065665.jpg"
                      alt="">
              </div>
          </div>
          <div class="precio">
              $150,990.00
          </div>
          <div class="div-detalle">
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
          </div>
      </div>
  </div> -->