<!-- Default box -->
<div class="card card-solid">
  <div class="card-body">
    <div class="row ">
      <div class="col-12 col-sm-6">
        <h5 class="d-inline-block d-sm-none">{{ producto[0].Detalle }}</h5>
        <app-product-image-thumbs></app-product-image-thumbs>
      </div>

      <div class="col-12 col-sm-6">
        <mat-card>
          <h6 class="my-3">{{producto[0].Categoria}}</h6>
          <h4 class="my-3">{{producto[0].Detalle}}</h4>
          <h6 class="my-3">{{producto[0].Marca}}</h6>
          <p>{{ producto[0].obs }}</p>
          <hr>
          <p>{{producto[0].CodigoBarras}}</p>
          <div class="row  bg-gray py-2 px-3 mt-4">
            <h4 class="mb-0">
              Precio Neto: {{ producto[0].Simbolo }} {{ producto[0].P_Neto | number : '1.2-2'}}
            </h4>
            <h5 class="mt-0">
              <small>Iva: {{ producto[0].TipoAlicuota }} </small>
            </h5>
            <h4 class="mb-0">
              Precio Final: {{ producto[0].Simbolo }} {{ producto[0].P_Final | number : '1.2-2'}}
            </h4>
          </div>
          <div class="row py-2 px-3 mt-4">
            <div class="col"><i class="fas fa-heart fa-lg mr-2"></i></div>
            <div class="col bg-gray">.</div>
            <div class="col bg-gray">SUC</div>
            <div class="col bg-gray">CDG</div>
          </div>
          <div class="mt-4">
            <div class="btn btn-block btn-primary">
              <i class="fas fa-cart-plus fa-lg mr-2"></i>
              Agregar al carrito
            </div>
            <div class="btn btn-block btn-default">
              <!-- <i class="fas fa-cart-plus fa-lg mr-2"></i> -->
              Comprar Ahora
            </div>
            <div class="btn btn-block btn-default">
              <i class="fas fa-heart fa-lg mr-2"></i>
              Agregar a favoritos
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row mt-4">
      <nav class="w-100">
        <div class="nav nav-tabs" id="product-tab" role="tablist">
          <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab"
            aria-controls="product-desc" aria-selected="true">Descripcion</a>
          <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab"
            aria-controls="product-comments" aria-selected="false">Comments</a>
          <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab"
            aria-controls="product-rating" aria-selected="false">Rating</a>
        </div>
      </nav>
      <div class="tab-content p-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
          {{producto[0].obs}} </div>
        <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> Vivamus
          rhoncus nisl sed venenatis luctus. Sed condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec
          et finibus sem, ut commodo lectus. Cras eget neque dignissim, placerat orci interdum, venenatis odio. Nulla
          turpis elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar mauris ornare, eget
          porttitor enim vulputate. Mauris hendrerit, massa nec aliquam cursus, ex elit euismod lorem, vehicula rhoncus
          nisl dui sit amet eros. Nulla turpis lorem, dignissim a sapien eget, ultrices venenatis dolor. Curabitur vel
          turpis at magna elementum hendrerit vel id dui. Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum.
        </div>
        <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Cras ut
          ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue,
          id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent vel ipsum felis. Ut molestie,
          purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim
          aliquam ligula, aliquet feugiat nibh rhoncus ut. Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus,
          vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit
          odio velit, at accumsan urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta
          lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius
          massa at semper posuere. Integer finibus orci vitae vehicula placerat. </div>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->