<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="./assets/dist/img/logo_Mesa-de-trabajo-1.svg" alt="AdminLTE Logo" 
     style="opacity: .8; width: 95%; height: 26px;">
    <!-- <span class="brand-text font-weight-light">{{EmpresaFantasia}}</span> -->
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src={{avatar}} class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a routerLink="perfil" class="d-block text-capitalize small">{{userName}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview" *ngFor="let item of menuItems">
          <a href="#" class="nav-link active">
            <i class="{{item.icono}}"></i>
            <p class="ml-2">
              {{item.titulo}}
              <span class="badge badge-primary ml-2"></span>
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" *ngFor="let subMenuItem of item.submenu">
              <a [routerLink]="subMenuItem.url" class="nav-link" style="cursor: pointer;">
                <i class="far fa-circle nav-icon"></i>
                <p class="ml-2">{{subMenuItem.titulo}}</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="authService.logout()">
            <i class="fas fa-sign-out-alt"></i>
            <p class="ml-2">
              Logout
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>