<div class="card">
  <div class="card-header">
    <h3 class="card-title">Dashboard</h3>
  </div>
  <br>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-info">
          <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

          <div class="info-box-content">
            <span class="info-box-text small">Ofertas</span>
            <span class="info-box-number">41,410</span>

            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-success">
          <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

          <div class="info-box-content">
            <span class="info-box-text small">Productos Top's</span>
            <span class="info-box-number">41,410</span>

            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">

            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-warning">
          <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

          <div class="info-box-content">
            <span class="info-box-text small">Categorias Top's</span>
            <span class="info-box-number">41,410</span>

            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-danger">
          <span class="info-box-icon"><i class="fas fa-comments"></i></span>
          <div class="info-box-content">
            <span class="info-box-text small">Pedidos</span>
            <span class="info-box-number">41,410</span>
            <div class="progress">
              <div class="progress-bar" style="width: 100%"></div>
            </div>
            <span class="progress-description">
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
      <ng-container *ngFor="let item of slaiders">
        <div [ngClass]="getClass(item.Pos)">
          <img src="{{item.UrlImagen}}" alt="Los Angeles" width="1100" height="500">
        </div>
      </ng-container>

    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  
  <br>
  <!-- EJECUTIVO DE VENTA -->
  <div class="row">
    <div class="col-md-6">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-address-card"></i>
            Ejecutivo de cuenta
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card mb-4">
          <div class="card-header">
            <div class="media">
              <figure class="avatar avatar-50 mr-2">
                <img src="{{datosCta.fotoPerfilVendedor}}" class="img-circle elevation-2" width="50" height="50"
                  alt="Generic placeholder image">
              </figure>
              <div class="media-body">
                <p class="content-color-secondary mb-0 small" style="text-align: left;">¡Hola! mi nombre es </p>
                <h4 class="content-color-primary mb-0" style="text-align: left; font-size: 1.3rem;">
                  {{datosCta.vendedor}}</h4>
                <p class="content-color-secondary mb-0" style="text-align: left;">y soy tu Ejecutivo de cuentas!</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="iconos-alineados">
              <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
              {{datosCta.emailVendedor}}<br>
            </div>
            <div class="iconos-alineados">
              <mat-icon aria-hidden="false" aria-label="Example home icon">phonelink_ring</mat-icon>
              {{datosCta.TelVendedor}}
            </div>
          </div>
          <div class="card-footer bg-light-secondary border-top">
            <div class="media">
              <div class="icon-circle icon-40 mr-2 content-color-secondary">
                <img src="../../../assets/img/WhatsApp-icon.png" style="max-height: 50px">
              </div>
              <div class="media-body">
                <h5 class="content-color-primary mb-0">Whatsapp</h5>
                <p class="content-color-secondary mb-0 small">¡Chatea conmigo ahora!</p>
              </div>
              <a href="wsp.php?phone=5493517056783&amp;text=Hola! te contacto desde la web privada de Grupo Fixon"
                class="icon-circle icon-40 content-color-secondary" target="_blank">
                <i class="material-icons icon-lg">keyboard_arrow_right</i>
              </a>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    </div>
    <br>
    <div>
      <app-producto-oferta></app-producto-oferta>
    </div>
  </div>