<div>
    <div class="divImgProducto">
        <img class="imgProducto" src="" alt="">
    </div>
    <div class="detallePadre">
        <div class="descripcion">Detalle</div>
        <div calss="codigo">Codigo</div>
    </div>
    <div class="stockPadre">
        <div calss="stockSuc"></div>
        <div calss="stockResto"></div>
    </div>
    <div class="precios">
        <div>u$d 8,08</div>
        <div>IVA 10.50%</div>
    </div>
    <div class="cantidad">
        <!-- <input style="width: 60px; text-align: center;" type="number" name="valueCant"> -->
    </div>
    <div class="acciones">
        agregar
    </div>
</div>
